pipeline/PL_CPY_SALESFORCE_METRIC_STREAM.json
{
	"name": "PL_CPY_SALESFORCE_METRIC_STREAM",
	"properties": {
		"activities": [
			{
				"name": "ACT_CPY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_CONTROL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "@concat(pipeline().parameters.query,formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ'))",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SALESFORCE_METRICSTREAM",
						"type": "DatasetReference",
						"parameters": {
							"objectName": "Opportunity"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"table": {
								"value": "STG_@{pipeline().parameters.table}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LOOKUP_CONTROL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [@{pipeline().parameters.schema}].[STG_CONTROL_TABLE] WHERE [SourceObject] = '@{pipeline().parameters.table}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_CONTROL",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "UPDATE_CONTROL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CPY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "dbo.salesForceControlProc",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"Object": {
							"value": {
								"value": "@concat('''', pipeline().parameters.table, '''')",
								"type": "Expression"
							},
							"type": "String"
						},
						"schema": {
							"value": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"type": "String"
						},
						"lastLoadTime": {
							"value": {
								"value": "@concat('''', pipeline().TriggerTime, '''')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "C0003"
			},
			"table": {
				"type": "string",
				"defaultValue": "USER"
			},
			"sfObject": {
				"type": "string",
				"defaultValue": "User"
			},
			"query": {
				"type": "string",
				"defaultValue": "SELECT Id, Username, LastName, FirstName, Name, CompanyName, Division, Department, Title, Street, City, State, PostalCode, Country, Latitude, Longitude, GeocodeAccuracy, Email, EmailPreferencesAutoBcc, EmailPreferencesAutoBccStayInTouch, EmailPreferencesStayInTouchReminder, SenderEmail, SenderName, Signature, StayInTouchSubject, StayInTouchSignature, StayInTouchNote, Phone, Fax, MobilePhone, Alias, CommunityNickname, BadgeText, IsActive, TimeZoneSidKey, UserRoleId, LocaleSidKey, ReceivesInfoEmails, ReceivesAdminInfoEmails, EmailEncodingKey, ProfileId, UserType, LanguageLocaleKey, EmployeeNumber, DelegatedApproverId, ManagerId, LastLoginDate, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, OfflineTrialExpirationDate, OfflinePdaTrialExpirationDate, UserPermissionsMarketingUser, UserPermissionsOfflineUser, UserPermissionsAvantgoUser, UserPermissionsCallCenterAutoLogin, UserPermissionsMobileUser, UserPermissionsSFContentUser, UserPermissionsInteractionUser, UserPermissionsSupportUser, ForecastEnabled, UserPreferencesActivityRemindersPopup, UserPreferencesEventRemindersCheckboxDefault, UserPreferencesTaskRemindersCheckboxDefault, UserPreferencesReminderSoundOff, UserPreferencesDisableAllFeedsEmail, UserPreferencesDisableFollowersEmail, UserPreferencesDisableProfilePostEmail, UserPreferencesDisableChangeCommentEmail, UserPreferencesDisableLaterCommentEmail, UserPreferencesDisProfPostCommentEmail, UserPreferencesContentNoEmail, UserPreferencesContentEmailAsAndWhen, UserPreferencesApexPagesDeveloperMode, UserPreferencesHideCSNGetChatterMobileTask, UserPreferencesDisableMentionsPostEmail, UserPreferencesDisMentionsCommentEmail, UserPreferencesHideCSNDesktopTask, UserPreferencesHideChatterOnboardingSplash, UserPreferencesHideSecondChatterOnboardingSplash, UserPreferencesDisCommentAfterLikeEmail, UserPreferencesDisableLikeEmail, UserPreferencesSortFeedByComment, UserPreferencesDisableMessageEmail, UserPreferencesDisableBookmarkEmail, UserPreferencesDisableSharePostEmail, UserPreferencesEnableAutoSubForFeeds, UserPreferencesDisableFileShareNotificationsForApi, UserPreferencesShowTitleToExternalUsers, UserPreferencesShowManagerToExternalUsers, UserPreferencesShowEmailToExternalUsers, UserPreferencesShowWorkPhoneToExternalUsers, UserPreferencesShowMobilePhoneToExternalUsers, UserPreferencesShowFaxToExternalUsers, UserPreferencesShowStreetAddressToExternalUsers, UserPreferencesShowCityToExternalUsers, UserPreferencesShowStateToExternalUsers, UserPreferencesShowPostalCodeToExternalUsers, UserPreferencesShowCountryToExternalUsers, UserPreferencesShowProfilePicToGuestUsers, UserPreferencesShowTitleToGuestUsers, UserPreferencesShowCityToGuestUsers, UserPreferencesShowStateToGuestUsers, UserPreferencesShowPostalCodeToGuestUsers, UserPreferencesShowCountryToGuestUsers, UserPreferencesPipelineViewHideHelpPopover, UserPreferencesHideS1BrowserUI, UserPreferencesDisableEndorsementEmail, UserPreferencesPathAssistantCollapsed, UserPreferencesCacheDiagnostics, UserPreferencesShowEmailToGuestUsers, UserPreferencesShowManagerToGuestUsers, UserPreferencesShowWorkPhoneToGuestUsers, UserPreferencesShowMobilePhoneToGuestUsers, UserPreferencesShowFaxToGuestUsers, UserPreferencesShowStreetAddressToGuestUsers, UserPreferencesLightningExperiencePreferred, UserPreferencesHideEndUserOnboardingAssistantModal, UserPreferencesHideLightningMigrationModal, UserPreferencesHideSfxWelcomeMat, UserPreferencesHideBiggerPhotoCallout, UserPreferencesGlobalNavBarWTShown, UserPreferencesGlobalNavGridMenuWTShown, UserPreferencesCreateLEXAppsWTShown, UserPreferencesFavoritesWTShown, UserPreferencesRecordHomeSectionCollapseWTShown, UserPreferencesRecordHomeReservedWTShown, UserPreferencesFavoritesShowTopFavorites, UserPreferencesExcludeMailAppAttachments, UserPreferencesSuppressTaskSFXReminders, UserPreferencesSuppressEventSFXReminders, UserPreferencesPreviewCustomTheme, UserPreferencesHasCelebrationBadge, UserPreferencesUserDebugModePref, UserPreferencesNewLightningReportRunPageEnabled, ContactId, AccountId, CallCenterId, Extension, FederationIdentifier, AboutMe, FullPhotoUrl, SmallPhotoUrl, IsExtIndicatorVisible, OutOfOfficeMessage, MediumPhotoUrl, DigestFrequency, DefaultGroupNotificationFrequency, LastViewedDate, LastReferencedDate, BannerPhotoUrl, SmallBannerPhotoUrl, MediumBannerPhotoUrl, IsProfilePhotoActive, IndividualId, mkto_si__IsCachingAnonWebActivityList__c, mkto_si__IsCachingBestBets__c, mkto_si__IsCachingEmailActivityList__c, mkto_si__IsCachingGroupedWebActivityList__c, mkto_si__IsCachingInterestingMomentsList__c, mkto_si__IsCachingScoringList__c, mkto_si__IsCachingStreamList__c, mkto_si__IsCachingWatchList__c, mkto_si__IsCachingWebActivityList__c, FY20_Q3_Target__c, Test__c, Q1_ACV_Target__c, Q2_ACV_Target__c, Q3_ACV_Target__c, Q4_ACV_Target__c, Q1_PS_Target__c, Q2_PS_Target__c, Q3_PS_Target__c, Q4_PS_Target__c, Q1_Perpetual_Target__c, Q2_Perpetual_Target__c, Q3_Perpetual_Target__c, Q4_Perpetual_Target__c, Q1_CO_MSU_Target__c, Q2_CO_MSU_Target__c, Q3_CO_MSU_Target__c, Q4_CO_MSU_Target__c, Q1_MSU_Target__c, Q2_MSU_Target__c, Q3_MSU_Target__c, Q4_MSU_Target__c, Q1_New_ACV_Target__c, New_ACV__c, FY18Q1_PS_Target__c, FY18Q1_MSU_Target__c, FY18Q1_CO_MSU_Target__c, FY18Q2_MSU_Target__c, FY18Q2_CO_MSU_Target__c, FY18Q2_New_ACV_Target__c, FY18Q2_Perpetual_Target__c, FY18Q2_PS_Target__c, Q2_New_Business_D_Target__c, Q2_Customer_D_Target__c, Q2_Partner_D_Target__c, Prospecting_Target__c, Q3_New_Business_D_Target__c, Q3_Customer_D_Target__c, Q3_Partner_D_Target__c, Q4_New_Business_D_Target__c, Q4_Customer_D_Target__c, Q4_Partner_D_Target__c, FY19_Q1_New_Business_D_Target__c, FY19_Q1_Customer_D_Target__c, Super_Sales_Managers__c, FY19_Q1_Partner_D_Target__c, FY19Q2_NB_Global_Enterprise_D_Target__c, FY19Q2_ACV_Customer_Target__c, FY19Q3_D_Target__c, FY19Q3_ACV_Customer_Target__c, Target__c, ACV_Target__c, Late_Stage_Target__c, Late_Stage_ACV_Target__c, Early_Stage_Target__c, Early_Stage_ACV_Target__c, FY19Q4_D_Target__c, pi__Can_View_Not_Assigned_Prospects__c, pi__Pardot_Api_Key__c, pi__Pardot_Api_Version__c, pi__Pardot_User_Id__c, pi__Pardot_User_Key__c, pi__Pardot_User_Role__c from User where LastModifiedDate > "
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}