pipeline/PL_CPY_SALESFORCE.json
{
	"name": "PL_CPY_SALESFORCE",
	"properties": {
		"activities": [
			{
				"name": "ACT_CPY_OPPORTUNITY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_CONTROL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT Id, IsDeleted, AccountId, RecordTypeId, Name, Description, StageName, Amount, Probability, ExpectedRevenue, CloseDate, Type, NextStep, LeadSource, IsClosed, IsWon, ForecastCategory, ForecastCategoryName, CampaignId, HasOpportunityLineItem, Pricebook2Id, OwnerId, Territory2Id, IsExcludedFromTerritory2Filter, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, LastActivityDate, FiscalQuarter, FiscalYear, Fiscal, LastViewedDate, LastReferencedDate, SyncedQuoteId, HasOpenActivity, HasOverdueTask, Contact__c, Self_Service__c, Project_Source__c, Source__c, Forecast_Category__c, Opportunity_External_ID__c, Standard_Start_Date__c, Days_To_Expire__c, Competitor_Name__c, Decision_Date__c, Increase_Increase__c, Invoice_Code__c, Next_Year_End_Date__c, Competing_Against__c, Alt_Bill_To_Street__c, Alt_Bill_To_City__c, Alt_Bill_To_State__c, Alt_Bill_To_Zip__c, Alt_Bill_To_Country__c, Registration_TypeAF__c, Sub_Amount__c, Category__c, Sent_To_Partner__c, Contact_Email__c, Contact_Phone__c, Current_System_List_Price__c, Professional_Services__c, Professional_Services_Amt__c, Ctvt_LdDr_PartnerOwnerUserPhone__c, Ctvt_LdDr_PartnerActionRequired__c, Ctvt_LdDr_VendorOwnerUserName__c, Ctvt_LdDr_PartnerCompanyName__c, Ctvt_LdDr_RegistrationStatus__c, Ctvt_LdDr_PartnerOwnerUserEmail__c, Ctvt_LdDr_PartnerOwnerUserName__c, Ctvt_LdDr_DealTitle__c, Ctvt_LdDr_DealAmount__c, Ctvt_LdDr_VendorActionRequired__c, Ctvt_LdDr_AccountCompanyName__c, Ctvt_LdDr_LastUpdated__c, Ctvt_LdDr_Created__c, Ctvt_LdDr_Link__c, Ctvt_LdDr_DealCloseDate__c, Ctvt_LdDr_Status__c, Ctvt_LdDr_AccountCompanyCity__c, Ctvt_LdDr_AccountCompanyCountry__c, Ctvt_LdDr_AccountContactName__c, Ctvt_LdDr_AccountCompanyState__c, Ctvt_Sys_Exported__c, Ctvt_LdDr_AccountContactEmail__c, Ctvt_LdDr_AccountContactTitle__c, Ctvt_Sys_LastUpdated__c, Ctvt_LdDr_AccountContactPhone__c, Bill_To_Account_Code__c, Account_Domain__c, Current_Support_Level__c, Ctvt_Sys_EntityType__c, Support_Option_1__c, Support_Option_1_Price__c, Support_Option_2__c, Support_Option_2_Price__c, Part_Number__c, Current_Support__c, Support_Option_a__c, Support_Option_b__c, Support_Quantity__c, Customer_Type__c, Invoice_Number__c, Support_Option1_Description__c, Support_Option2_Description__c, Current_Support_Description__c, Ctvt_Sys_URL__c, Why_Cleo__c, Why_do_Something__c, Why_do_Something_Now__c, Key_Deal__c, Ctvt_LdDr_Streem__c, Ctvt_LdDr_CleoTrust__c, Ctvt_LdDr_CleoLexiCom_1__c, Ctvt_LdDr_CleoUnify__c, Ctvt_LdDr_CleoHarmony__c, Ctvt_LdDr_CleoVLTrader__c, Current_Support_Price__c, Tags__c, Priority__c, Created_By_BDR__c, SQO_Status__c, Qualified__c, Owner_Sales_Role__c, Ctvt_AccountOrgStreet__c, Referred_By__c, Microsegment__c, SubscriptionTerms__c, Subscription_Details__c, Translator__c, Total_Contract_Value__c, Annual_Contract_Value__c, Equivalent_License_Value__c, Translator_System__c, Data_Source__c, Ctvt_Stage_1__c, Product_Enhancement_Required__c, Product_Enhancement_Notes__c, PM_Enhancement_Reviewed__c, PM_Enhancement_Notes__c, Proposed__c, Selected__c, Committed__c, Closed_Won__c, Stage_Master__c, Amount_ELV__c, Billing_Frequency__c, SC_Next_Step__c, picPSO_Engagement__c, txtPSO_Notes__c, Age_calculated__c, SubAmount__c, LicAmount__c, Account_Support_Alert__c, TCV_Calc__c, Managed_Services__c, Managed_Services_Amount__c, LID__LinkedIn_Company_Id__c, MSO_Notes__c, MSO_Engagement__c, Cloud_Opportunity__c, Managed_Services_Type__c, Quota_Credit__c, Opportunity_Category__c, Solution_Category__c, Industry__c, Sub_Industry__c, Tertiary_Industry__c, Sales_Segment__c, Region__c, Corporate_Type__c, Professional_Services_Completed_Date__c, Win_Loss_Review_Completed__c, Number_of_Transactions_Annual__c, SOW_Reference_Counter__c, SER_Reference_Counter__c, Historical_Owner_Role__c, Gen_2_Candidate__c, Created_by_AM__c, Created_by_CSM__c, Created_from_AM_Account_Review__c, Created_Month__c, Existing_Perpetual_Support__c, Existing_Subscription__c, Perpetual_License_Purchase__c, Perpetual_Support_1st_Year__c, Perpetual_ACV__c, Average_Annual_Subscription__c, Subscription_ACV__c, Calculated_ACV__c, Invoice_Date__c, Win_Loss_Review__c, Commission_Payment_Term__c, Subscription_Terms__c, Services_Type__c, Services_Type_Details__c, Packaged_Connector_1__c, Packaged_Connector_2__c, Packaged_Connector_3__c, Packaged_Connector_4__c, Packaged_Connector_5__c, Packaged_Connector_Amount_1__c, Packaged_Connector_Amount_2__c, Packaged_Connector_Amount_3__c, Packaged_Connector_Amount_4__c, Packaged_Connector_Amount_5__c, Application_Connector_Included__c, Jetsonic_Included__c, Jetsonic_Value__c, Jetsonic_of_Connections__c, Unify_Included__c, Unify_Value__c, Premium_Dashboards_Included__c, Premium_Dashboards_Value__c, Number_of_Maps__c, Number_of_Base_Maps__c, Number_of_Total_Map_Deployments__c, Services_Quota_Credit_Details__c, Bundled_Services_Value__c, Services_Total__c, Win_Loss_Notes__c, bizible2__Bizible_Opportunity_Amount__c, Sales_Products__c, Expected_ACV__c, Date_Became_Targeted__c, Billing_Partner__c, Prepaid_Support__c, Convert_to_Subscription__c, Upgrade_Perpetual__c, Subscription_Renewal__c, Purchase_Agreement_Required__c, Upgrade_Subscription__c, Disqualified_Next_Steps__c, Disqualified_Reason__c, Gross_ACV__c, Gross_ELV__c, Personas_Identified__c, Sent_to_Proposal_Desk__c, Pending_Edits_Needed__c, Approved__c, Proposal_Status__c, Use_Case__c, Custom_License_Metric__c, Date_Became_Qualified__c, Date_Became_Suspect__c, Credit_Check_Date__c, Credit_Report_Type__c, D_B_Rating__c, D_B_Viability_Rating__c, Finance_Approval_Override__c, Finance_Approval__c, Finance_Notes__c, Finance_Requires__c, credibilityCheckEmailSent__c, LID__Is_Influenced__c, Application_Base_Integration__c, Platform_Connector_1__c, Platform_Connector_2__c, Platform_Connector_3__c, Platform_Connector_4__c, Platform_Connector_5__c, Platform_Connector_Value_1__c, Platform_Connector_Value_2__c, Platform_Connector_Value_3__c, Platform_Connector_Value_4__c, Platform_Connector_Value_5__c, Use_Case_Type__c, Total_Billing__c, Total_Service_Billing__c, Total_Product_Billing__c, Project_Complexity__c, Customer_Technical_Sophistication__c, Reference_Call_By__c, Reference_Call_Account__c, Socialized_Pricing__c, CIC_Package__c, Primary_Competitor__c, Secondary_Competitor__c, Tertiary_Competitor__c, Current_ERP_Vendor__c, Current_ERP_Solution__c, Future_ERP_Vendor__c, Future_ERP_Solution__c, Segment__c, Micro_Segment__c, Secondary_Industry__c, Annual_Revenue__c, Packaged_Connectors__c, Platform_Connectors__c, Contact_GCLID__c, GCLID__c, Date_Became_Selected__c, Date_Became_Committed__c, Date_Became_Closed_Won__c, Date_Became_Closed_Lost__c, Date_Became_Proposed__c, Targeted__c, Suspect__c, Closed_Lost__c, Account_Rank__c, Pricing_Model__c, List_Price__c, Discount_Upsell_Amount__c, Discount_Upsell_Percentage__c, List_Price_Additional_Information__c, List_of_Connections__c, List_of_Transactions_Annual__c from OPPORTUNITY where LastModifiedDate > @{formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ')}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SALESFORCE_OPPORTUNITY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLDB_OPPORTUNITY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_CPY_OPPORTUNITY_FIELD_HISTORY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_CONTROL_OPPORTUNITY_FIELD_HISTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, OldValue, NewValue from OPPORTUNITYFIELDHISTORY where CreatedDate> @{formatDateTime(activity('LOOKUP_CONTROL_OPPORTUNITY_FIELD_HISTORY').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ')}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SALESFORCE_OPPORTUNITY_FIELD_HISTORY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLDB_OPPORTUNITY_FIELD_HISTORY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LOOKUP_CONTROL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[SalesForceControlTable] WHERE [SourceObject] = 'OPPORTUNITY'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LOOKUP_CONTROL_OPPORTUNITY_FIELD_HISTORY",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[SalesForceControlTable] WHERE [SourceObject] = 'OPPORTUNITY_FIELD_HISTORY'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE_CONTROL_OPPORTUNITY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CPY_OPPORTUNITY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SalesForceControlProc]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Object": {
							"value": "OPPORTUNITY",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE_CONTROL_OPPORTUNITY_FIELD_HISTORY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CPY_OPPORTUNITY_FIELD_HISTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SalesForceControlProc]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Object": {
							"value": "USER",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CPY_OPPORTUNITY_HISTORY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOOKUP_CONTROL_OPPORTUNITY_HISTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT Id, OpportunityId, CreatedById, CreatedDate, StageName, Amount, ExpectedRevenue, CloseDate, Probability, ForecastCategory, SystemModstamp, IsDeleted from OPPORTUNITYHISTORY where SystemModstamp > @{formatDateTime(activity('LOOKUP_CONTROL_OPPORTUNITY_HISTORY').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ')}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SALESFORCE_OPPORTUNITY_HISTORY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLDB_OPPORTUNITY_HISTORY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LOOKUP_CONTROL_OPPORTUNITY_HISTORY",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[SalesForceControlTable] WHERE [SourceObject] = 'OPPORTUNITY_HISTORY'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE_CONTROL_OPPORTUNITY_HISTORY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CPY_OPPORTUNITY_HISTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SalesForceControlProc]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Object": {
							"value": "OPPORTUNITY_HISTORY",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}