skygeni-dataFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "skygeni-dataFactory"
		},
		"LS_SQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQLDB'"
		},
		"LS_SQL_DB_CLEO_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL_DB_CLEO'"
		},
		"LS_SALESFORCE_DS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SALESFORCE_DS'"
		},
		"LS_SALESFORCE_DS_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'LS_SALESFORCE_DS'"
		},
		"LS_SALESFORCE_MS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SALESFORCE_MS'"
		},
		"LS_SALESFORCE_MS_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'LS_SALESFORCE_MS'"
		},
		"LS_SALESFORCE_DS_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"LS_SALESFORCE_DS_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "api@cleo.com"
		},
		"LS_SALESFORCE_MS_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"LS_SALESFORCE_MS_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "sankar.sundaresan@skygeni.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_DB_CLEO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_DB_CLEO_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/anarghyaLocal')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/salesforce-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0001"
					},
					"table": {
						"type": "string",
						"defaultValue": "STG_OPPORTUNITY"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_CONTROL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0001"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": "STG_CONTROL_TABLE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_OPPORTUNITY_FIELD_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_OPPORTUNITY_FIELD_HISTORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_OPPORTUNITY_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_OPPORTUNITY_HISTORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_PRODUCT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CLEO_PRODUCT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_DESTINATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB_CLEO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "C0002",
					"table": "STAGES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_DB_CLEO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "oppid",
						"type": "nvarchar"
					},
					{
						"name": "accountcode",
						"type": "nvarchar"
					},
					{
						"name": "owner",
						"type": "nvarchar"
					},
					{
						"name": "accountname",
						"type": "nvarchar"
					},
					{
						"name": "oppname",
						"type": "nvarchar"
					},
					{
						"name": "partner",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "nvarchar"
					},
					{
						"name": "custtype",
						"type": "nvarchar"
					},
					{
						"name": "cicpackage",
						"type": "nvarchar"
					},
					{
						"name": "solution_cat",
						"type": "nvarchar"
					},
					{
						"name": "sales_offering",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "nvarchar"
					},
					{
						"name": "acv",
						"type": "float",
						"precision": 15
					},
					{
						"name": "elv",
						"type": "nvarchar"
					},
					{
						"name": "tcv",
						"type": "nvarchar"
					},
					{
						"name": "services_amount",
						"type": "nvarchar"
					},
					{
						"name": "services_type",
						"type": "nvarchar"
					},
					{
						"name": "stage",
						"type": "nvarchar"
					},
					{
						"name": "fiscal_period",
						"type": "nvarchar"
					},
					{
						"name": "age",
						"type": "nvarchar"
					},
					{
						"name": "created_date",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "close_date",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "campaign_source",
						"type": "nvarchar"
					},
					{
						"name": "source",
						"type": "nvarchar"
					},
					{
						"name": "annual_rev",
						"type": "nvarchar"
					},
					{
						"name": "industry",
						"type": "nvarchar"
					},
					{
						"name": "segment",
						"type": "nvarchar"
					},
					{
						"name": "micro_seg",
						"type": "nvarchar"
					},
					{
						"name": "sec_industry",
						"type": "nvarchar"
					},
					{
						"name": "expected_rev",
						"type": "nvarchar"
					},
					{
						"name": "owner_role",
						"type": "nvarchar"
					},
					{
						"name": "lead_src",
						"type": "nvarchar"
					},
					{
						"name": "owner_profile",
						"type": "nvarchar"
					},
					{
						"name": "owner_active",
						"type": "nvarchar"
					},
					{
						"name": "owner_manager",
						"type": "nvarchar"
					},
					{
						"name": "stage_duration",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_stage_change",
						"type": "nvarchar"
					},
					{
						"name": "last_modified",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "acv_at_creation",
						"type": "float",
						"precision": 15
					},
					{
						"name": "stage_at_time_T",
						"type": "nvarchar"
					},
					{
						"name": "acv_at_time_T",
						"type": "nvarchar"
					},
					{
						"name": "start_stage",
						"type": "nvarchar"
					},
					{
						"name": "targeted",
						"type": "nvarchar"
					},
					{
						"name": "suspect",
						"type": "nvarchar"
					},
					{
						"name": "qualified",
						"type": "nvarchar"
					},
					{
						"name": "proposed",
						"type": "nvarchar"
					},
					{
						"name": "selected",
						"type": "nvarchar"
					},
					{
						"name": "committed",
						"type": "nvarchar"
					},
					{
						"name": "closed_won",
						"type": "nvarchar"
					},
					{
						"name": "closed_lost",
						"type": "nvarchar"
					},
					{
						"name": "closed_won_noorder",
						"type": "nvarchar"
					},
					{
						"name": "closed_disqualified",
						"type": "nvarchar"
					},
					{
						"name": "no_history_available",
						"type": "nvarchar"
					},
					{
						"name": "current_status",
						"type": "nvarchar"
					},
					{
						"name": "final_stage_for_closed",
						"type": "nvarchar"
					},
					{
						"name": "closed_date",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "closed_month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "closed_quarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "closed_year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cycle_time_closed_orders",
						"type": "nvarchar"
					},
					{
						"name": "elapsed_days_open_orders",
						"type": "nvarchar"
					},
					{
						"name": "Created_Month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Quarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Type_Services",
						"type": "nvarchar"
					},
					{
						"name": "sales_offering_VAN",
						"type": "nvarchar"
					},
					{
						"name": "solution_cat_CIC_Secure_Fax",
						"type": "nvarchar"
					},
					{
						"name": "oppname_has_RUNRATE",
						"type": "nvarchar"
					},
					{
						"name": "oppname_has_SUPPORT",
						"type": "nvarchar"
					},
					{
						"name": "oppname_has_RENEWAL",
						"type": "nvarchar"
					},
					{
						"name": "Exclude_Opp_from_Analysis",
						"type": "nvarchar"
					},
					{
						"name": "Closed_Fiscal_Quarter",
						"type": "nvarchar"
					},
					{
						"name": "Created_Fiscal_Quarter",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STAGES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SALESFORCE_DS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('LS_SALESFORCE_DS_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('LS_SALESFORCE_DS_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SALESFORCE_DS_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('LS_SALESFORCE_DS_securityToken')]"
					}
				},
				"connectVia": {
					"referenceName": "salesforce-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/salesforce-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SALESFORCE_MS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('LS_SALESFORCE_MS_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('LS_SALESFORCE_MS_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SALESFORCE_MS_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('LS_SALESFORCE_MS_securityToken')]"
					}
				},
				"connectVia": {
					"referenceName": "salesforce-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/salesforce-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/re-architect_data_layer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SQL_SOURCE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_DESTINATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/SQL_DESTINATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALESFORCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALESFORCE_DS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"objectName": {
						"type": "string",
						"defaultValue": "Opportunity"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().objectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALESFORCE_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALESFORCE_METRICSTREAM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALESFORCE_MS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"objectName": {
						"type": "string",
						"defaultValue": "Opportunity"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().objectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALESFORCE_MS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALESFORCE_OPPORTUNITY_FIELD_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALESFORCE_MS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "OpportunityHistory"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALESFORCE_MS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALESFORCE_OPPORTUNITY_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALESFORCE_DS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "EventFeed"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALESFORCE_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SALESFORCE_PRODUCT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SALESFORCE_DS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Product2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SALESFORCE_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CPY_SALESFORCE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_CPY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_CONTROL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat(pipeline().parameters.query,formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ'))",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SALESFORCE",
								"type": "DatasetReference",
								"parameters": {
									"objectName": {
										"value": "@pipeline().parameters.sfObject",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLDB",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"table": {
										"value": "STG_@{pipeline().parameters.table}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LOOKUP_CONTROL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM [@{pipeline().parameters.schema}].[STG_CONTROL_TABLE] WHERE [SourceObject] = '@{pipeline().parameters.table}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLDB_CONTROL",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "UPDATE_CONTROL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACT_CPY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "dbo.salesForceControlProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"Object": {
									"value": {
										"value": "@concat('''', pipeline().parameters.table, '''')",
										"type": "Expression"
									},
									"type": "String"
								},
								"schema": {
									"value": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"lastLoadTime": {
									"value": {
										"value": "@concat('''', pipeline().TriggerTime, '''')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0001"
					},
					"table": {
						"type": "string",
						"defaultValue": "USER"
					},
					"sfObject": {
						"type": "string",
						"defaultValue": "User"
					},
					"query": {
						"type": "string",
						"defaultValue": "Select Id, Username, LastName, FirstName, Name, CompanyName, Division, Department, Title, Street, City, State, PostalCode, Country, Latitude, Longitude, GeocodeAccuracy, Email, EmailPreferencesAutoBcc, EmailPreferencesAutoBccStayInTouch, EmailPreferencesStayInTouchReminder, SenderEmail, SenderName, Signature, StayInTouchSubject, StayInTouchSignature, StayInTouchNote, Phone, Fax, MobilePhone, Alias, CommunityNickname, BadgeText, IsActive, TimeZoneSidKey, UserRoleId, LocaleSidKey, ReceivesInfoEmails, ReceivesAdminInfoEmails, EmailEncodingKey, ProfileId, UserType, LanguageLocaleKey, EmployeeNumber, DelegatedApproverId, ManagerId, LastLoginDate, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, OfflineTrialExpirationDate, OfflinePdaTrialExpirationDate, UserPermissionsMarketingUser, UserPermissionsOfflineUser, UserPermissionsAvantgoUser, UserPermissionsCallCenterAutoLogin, UserPermissionsMobileUser, UserPermissionsSFContentUser, UserPermissionsKnowledgeUser, UserPermissionsInteractionUser, UserPermissionsSupportUser, UserPermissionsChatterAnswersUser, ForecastEnabled, UserPreferencesActivityRemindersPopup, UserPreferencesEventRemindersCheckboxDefault, UserPreferencesTaskRemindersCheckboxDefault, UserPreferencesReminderSoundOff, UserPreferencesDisableAllFeedsEmail, UserPreferencesDisableFollowersEmail, UserPreferencesDisableProfilePostEmail, UserPreferencesDisableChangeCommentEmail, UserPreferencesDisableLaterCommentEmail, UserPreferencesDisProfPostCommentEmail, UserPreferencesApexPagesDeveloperMode, UserPreferencesHideCSNGetChatterMobileTask, UserPreferencesDisableMentionsPostEmail, UserPreferencesDisMentionsCommentEmail, UserPreferencesHideCSNDesktopTask, UserPreferencesHideChatterOnboardingSplash, UserPreferencesHideSecondChatterOnboardingSplash, UserPreferencesDisCommentAfterLikeEmail, UserPreferencesDisableLikeEmail, UserPreferencesSortFeedByComment, UserPreferencesDisableMessageEmail, UserPreferencesDisableBookmarkEmail, UserPreferencesDisableSharePostEmail, UserPreferencesEnableAutoSubForFeeds, UserPreferencesDisableFileShareNotificationsForApi, UserPreferencesShowTitleToExternalUsers, UserPreferencesShowManagerToExternalUsers, UserPreferencesShowEmailToExternalUsers, UserPreferencesShowWorkPhoneToExternalUsers, UserPreferencesShowMobilePhoneToExternalUsers, UserPreferencesShowFaxToExternalUsers, UserPreferencesShowStreetAddressToExternalUsers, UserPreferencesShowCityToExternalUsers, UserPreferencesShowStateToExternalUsers, UserPreferencesShowPostalCodeToExternalUsers, UserPreferencesShowCountryToExternalUsers, UserPreferencesShowProfilePicToGuestUsers, UserPreferencesShowTitleToGuestUsers, UserPreferencesShowCityToGuestUsers, UserPreferencesShowStateToGuestUsers, UserPreferencesShowPostalCodeToGuestUsers, UserPreferencesShowCountryToGuestUsers, UserPreferencesPipelineViewHideHelpPopover, UserPreferencesHideS1BrowserUI, UserPreferencesDisableEndorsementEmail, UserPreferencesPathAssistantCollapsed, UserPreferencesCacheDiagnostics, UserPreferencesShowEmailToGuestUsers, UserPreferencesShowManagerToGuestUsers, UserPreferencesShowWorkPhoneToGuestUsers, UserPreferencesShowMobilePhoneToGuestUsers, UserPreferencesShowFaxToGuestUsers, UserPreferencesShowStreetAddressToGuestUsers, UserPreferencesLightningExperiencePreferred, UserPreferencesPreviewLightning, UserPreferencesHideEndUserOnboardingAssistantModal, UserPreferencesHideLightningMigrationModal, UserPreferencesHideSfxWelcomeMat, UserPreferencesHideBiggerPhotoCallout, UserPreferencesGlobalNavBarWTShown, UserPreferencesGlobalNavGridMenuWTShown, UserPreferencesCreateLEXAppsWTShown, UserPreferencesFavoritesWTShown, UserPreferencesRecordHomeSectionCollapseWTShown, UserPreferencesRecordHomeReservedWTShown, UserPreferencesFavoritesShowTopFavorites, UserPreferencesExcludeMailAppAttachments, UserPreferencesSuppressTaskSFXReminders, UserPreferencesSuppressEventSFXReminders, UserPreferencesPreviewCustomTheme, UserPreferencesHasCelebrationBadge, UserPreferencesUserDebugModePref, UserPreferencesNewLightningReportRunPageEnabled, ContactId, AccountId, CallCenterId, Extension, FederationIdentifier, AboutMe, FullPhotoUrl, SmallPhotoUrl, IsExtIndicatorVisible, OutOfOfficeMessage, MediumPhotoUrl, DigestFrequency, DefaultGroupNotificationFrequency, LastViewedDate, LastReferencedDate, BannerPhotoUrl, SmallBannerPhotoUrl, MediumBannerPhotoUrl, IsProfilePhotoActive, IndividualId, Mobile__c, User_External_ID__c, RT1__ReadyTalkAdministrator__c, RT1__ReadyTalkUser__c, DaScoopComposer__Default_Groove_Team__c, DaScoopComposer__Email_Alias_1__c, DaScoopComposer__Email_Alias_2__c, DaScoopComposer__Google_Plus_ID__c, DaScoopComposer__Is_Unresolved_Items_Agent__c, DaScoopComposer__My_Unresolved_Items_Agent__c, DaScoopComposer__Profile_Id__c, BDR__c, Enterprise__c, Midmarket__c, Low_End__c, EMEA__c, Streem__c, Channel__c, Sales_Role__c, West_Enterprise__c, RT1__MeetingsCollaboratorUser__c, is_Account_Manager__c, GMT__c, Account_Manager__c, Customer_Success_Manager__c, approver__c, Previous_Role__c, NSID__c, Current_Role__c, dsfs__DSProSFUsername__c, dfsle__CanManageAccount__c, dfsle__Provisioned__c, dfsle__Status__c, dfsle__Username__c from User where LastModifiedDate > "
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SALESFORCE')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_CONTROL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDB')]"
			]
		}
	]
}