skygeni-dataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "skygeni-dataFactory"
		},
		"cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "ACCOUNT"
		},
		"cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "Account"
		},
		"cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "SELECT Id,Name,Type,AnnualRevenue,NumberOfEmployees,AccountCode__c,Account_Owner_Name__c,OwnerId,CreatedDate,CreatedById,LastModifiedDate from Account where LastModifiedDate > "
		},
		"cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "LastModifiedDate"
		},
		"cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "OPPORTUNITY"
		},
		"cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "Opportunity"
		},
		"cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "select Id, AccountId, OwnerId, Name, Type, Customer_Type__c, CIC_Package__c, Solution_Category__c, Sales_Products__c, Amount, Annual_Contract_Value__c, Total_Contract_Value__c, Equivalent_License_Value__c, Professional_Services_Amt__c, StageName, Stage_Master__c, Probability, CreatedDate, CloseDate, Industry__c, Segment__c, Micro_Segment__c, Sub_Industry__c, Region__c, Services_Type__c, CampaignId, Source__c, ExpectedRevenue, LeadSource, IsClosed, IsWon, ForecastCategory, ForecastCategoryName, HasOpportunityLineItem, Disqualified_Reason__c, CreatedById, Created_By_BDR__c, Created_by_AM__c, Created_by_CSM__c, Historical_Owner_Role__c, Fiscal, LastActivityDate, LastModifiedDate, LastModifiedById, SystemModstamp from Opportunity where LastModifiedDate > "
		},
		"cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "LastModifiedDate"
		},
		"cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "OPPORTUNITY_FIELD_HISTORY"
		},
		"cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "OpportunityFieldHistory"
		},
		"cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "select Id,IsDeleted,OpportunityId,CreatedById,CreatedDate,Field,OldValue,NewValue from  OpportunityFieldHistory where CreatedDate > "
		},
		"cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "CreatedDate"
		},
		"cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "OPPORTUNITY_HISTORY"
		},
		"cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "OpportunityHistory"
		},
		"cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "select Id,OpportunityId,CreatedById,CreatedDate,StageName,Amount,ExpectedRevenue,CloseDate,Probability,ForecastCategory,SystemModstamp,IsDeleted from OpportunityHistory where CreatedDate > "
		},
		"cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "CreatedDate"
		},
		"cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "ROLE"
		},
		"cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "UserRole"
		},
		"cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "SELECT Id, Name, ParentRoleId, RollupDescription, LastModifiedDate, SystemModstamp, DeveloperName from UserRole where LastModifiedDate >"
		},
		"cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "LastModifiedDate"
		},
		"cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema": {
			"type": "string",
			"defaultValue": "C0001"
		},
		"cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table": {
			"type": "string",
			"defaultValue": "USER"
		},
		"cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject": {
			"type": "string",
			"defaultValue": "User"
		},
		"cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query": {
			"type": "string",
			"defaultValue": "Select Id, Username, Name, CompanyName, Division, Department, Title, IsActive, TimeZoneSidKey, UserRoleId, ManagerId, LastLoginDate, CreatedDate, LastModifiedDate, SystemModstamp from User where LastModifiedDate > "
		},
		"cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column": {
			"type": "string",
			"defaultValue": "LastModifiedDate"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CPY_SALESFORCE_CLEO_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_CPY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_CONTROL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat(pipeline().parameters.query,formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LoadFromDate,'yyyy-MM-ddTHH:mm:ssZ'),' and ',pipeline().parameters.column,' <= ',formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LoadToDate,'yyyy-MM-ddTHH:mm:ssZ'))",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SALESFORCE",
								"type": "DatasetReference",
								"parameters": {
									"objectName": {
										"value": "@pipeline().parameters.sfObject",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLDB",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"table": {
										"value": "STG_@{pipeline().parameters.table}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LOOKUP_CONTROL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM [@{pipeline().parameters.schema}].[STG_CONTROL_TABLE] WHERE [SourceObject] = '@{pipeline().parameters.table}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLDB_CONTROL",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "UPDATE_CONTROL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACT_CPY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "dbo.salesForceControlProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"Object": {
									"value": {
										"value": "@concat('''', pipeline().parameters.table, '''')",
										"type": "Expression"
									},
									"type": "String"
								},
								"schema": {
									"value": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"lastLoadTime": {
									"value": {
										"value": "@concat('''', pipeline().TriggerTime, '''')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0001"
					},
					"table": {
						"type": "string",
						"defaultValue": "USER"
					},
					"sfObject": {
						"type": "string",
						"defaultValue": "User"
					},
					"query": {
						"type": "string",
						"defaultValue": "Select Id, Username, LastName, FirstName, Name, CompanyName, Division, Department, Title, Street, City, State, PostalCode, Country, Latitude, Longitude, GeocodeAccuracy, Email, EmailPreferencesAutoBcc, EmailPreferencesAutoBccStayInTouch, EmailPreferencesStayInTouchReminder, SenderEmail, SenderName, Signature, StayInTouchSubject, StayInTouchSignature, StayInTouchNote, Phone, Fax, MobilePhone, Alias, CommunityNickname, BadgeText, IsActive, TimeZoneSidKey, UserRoleId, LocaleSidKey, ReceivesInfoEmails, ReceivesAdminInfoEmails, EmailEncodingKey, ProfileId, UserType, LanguageLocaleKey, EmployeeNumber, DelegatedApproverId, ManagerId, LastLoginDate, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, OfflineTrialExpirationDate, OfflinePdaTrialExpirationDate, UserPermissionsMarketingUser, UserPermissionsOfflineUser, UserPermissionsAvantgoUser, UserPermissionsCallCenterAutoLogin, UserPermissionsMobileUser, UserPermissionsSFContentUser, UserPermissionsKnowledgeUser, UserPermissionsInteractionUser, UserPermissionsSupportUser, UserPermissionsChatterAnswersUser, ForecastEnabled, UserPreferencesActivityRemindersPopup, UserPreferencesEventRemindersCheckboxDefault, UserPreferencesTaskRemindersCheckboxDefault, UserPreferencesReminderSoundOff, UserPreferencesDisableAllFeedsEmail, UserPreferencesDisableFollowersEmail, UserPreferencesDisableProfilePostEmail, UserPreferencesDisableChangeCommentEmail, UserPreferencesDisableLaterCommentEmail, UserPreferencesDisProfPostCommentEmail, UserPreferencesApexPagesDeveloperMode, UserPreferencesHideCSNGetChatterMobileTask, UserPreferencesDisableMentionsPostEmail, UserPreferencesDisMentionsCommentEmail, UserPreferencesHideCSNDesktopTask, UserPreferencesHideChatterOnboardingSplash, UserPreferencesHideSecondChatterOnboardingSplash, UserPreferencesDisCommentAfterLikeEmail, UserPreferencesDisableLikeEmail, UserPreferencesSortFeedByComment, UserPreferencesDisableMessageEmail, UserPreferencesDisableBookmarkEmail, UserPreferencesDisableSharePostEmail, UserPreferencesEnableAutoSubForFeeds, UserPreferencesDisableFileShareNotificationsForApi, UserPreferencesShowTitleToExternalUsers, UserPreferencesShowManagerToExternalUsers, UserPreferencesShowEmailToExternalUsers, UserPreferencesShowWorkPhoneToExternalUsers, UserPreferencesShowMobilePhoneToExternalUsers, UserPreferencesShowFaxToExternalUsers, UserPreferencesShowStreetAddressToExternalUsers, UserPreferencesShowCityToExternalUsers, UserPreferencesShowStateToExternalUsers, UserPreferencesShowPostalCodeToExternalUsers, UserPreferencesShowCountryToExternalUsers, UserPreferencesShowProfilePicToGuestUsers, UserPreferencesShowTitleToGuestUsers, UserPreferencesShowCityToGuestUsers, UserPreferencesShowStateToGuestUsers, UserPreferencesShowPostalCodeToGuestUsers, UserPreferencesShowCountryToGuestUsers, UserPreferencesPipelineViewHideHelpPopover, UserPreferencesHideS1BrowserUI, UserPreferencesDisableEndorsementEmail, UserPreferencesPathAssistantCollapsed, UserPreferencesCacheDiagnostics, UserPreferencesShowEmailToGuestUsers, UserPreferencesShowManagerToGuestUsers, UserPreferencesShowWorkPhoneToGuestUsers, UserPreferencesShowMobilePhoneToGuestUsers, UserPreferencesShowFaxToGuestUsers, UserPreferencesShowStreetAddressToGuestUsers, UserPreferencesLightningExperiencePreferred, UserPreferencesPreviewLightning, UserPreferencesHideEndUserOnboardingAssistantModal, UserPreferencesHideLightningMigrationModal, UserPreferencesHideSfxWelcomeMat, UserPreferencesHideBiggerPhotoCallout, UserPreferencesGlobalNavBarWTShown, UserPreferencesGlobalNavGridMenuWTShown, UserPreferencesCreateLEXAppsWTShown, UserPreferencesFavoritesWTShown, UserPreferencesRecordHomeSectionCollapseWTShown, UserPreferencesRecordHomeReservedWTShown, UserPreferencesFavoritesShowTopFavorites, UserPreferencesExcludeMailAppAttachments, UserPreferencesSuppressTaskSFXReminders, UserPreferencesSuppressEventSFXReminders, UserPreferencesPreviewCustomTheme, UserPreferencesHasCelebrationBadge, UserPreferencesUserDebugModePref, UserPreferencesNewLightningReportRunPageEnabled, ContactId, AccountId, CallCenterId, Extension, FederationIdentifier, AboutMe, FullPhotoUrl, SmallPhotoUrl, IsExtIndicatorVisible, OutOfOfficeMessage, MediumPhotoUrl, DigestFrequency, DefaultGroupNotificationFrequency, LastViewedDate, LastReferencedDate, BannerPhotoUrl, SmallBannerPhotoUrl, MediumBannerPhotoUrl, IsProfilePhotoActive, IndividualId, Mobile__c, User_External_ID__c, RT1__ReadyTalkAdministrator__c, RT1__ReadyTalkUser__c, DaScoopComposer__Default_Groove_Team__c, DaScoopComposer__Email_Alias_1__c, DaScoopComposer__Email_Alias_2__c, DaScoopComposer__Google_Plus_ID__c, DaScoopComposer__Is_Unresolved_Items_Agent__c, DaScoopComposer__My_Unresolved_Items_Agent__c, DaScoopComposer__Profile_Id__c, BDR__c, Enterprise__c, Midmarket__c, Low_End__c, EMEA__c, Streem__c, Channel__c, Sales_Role__c, West_Enterprise__c, RT1__MeetingsCollaboratorUser__c, is_Account_Manager__c, GMT__c, Account_Manager__c, Customer_Success_Manager__c, approver__c, Previous_Role__c, NSID__c, Current_Role__c, dsfs__DSProSFUsername__c, dfsle__CanManageAccount__c, dfsle__Provisioned__c, dfsle__Status__c, dfsle__Username__c from User where LastModifiedDate > "
					},
					"column": {
						"type": "string",
						"defaultValue": "LastModifiedDate"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CPY_SALESFORCE_METRIC_STREAM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_CPY",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LOOKUP_CONTROL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "@concat(pipeline().parameters.query,formatDateTime(activity('LOOKUP_CONTROL').output.firstRow.LastLoadDate,'yyyy-MM-ddTHH:mm:ssZ'))",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SALESFORCE_METRICSTREAM",
								"type": "DatasetReference",
								"parameters": {
									"objectName": "Opportunity"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLDB",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"table": {
										"value": "STG_@{pipeline().parameters.table}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LOOKUP_CONTROL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM [@{pipeline().parameters.schema}].[STG_CONTROL_TABLE] WHERE [SourceObject] = '@{pipeline().parameters.table}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLDB_CONTROL",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "UPDATE_CONTROL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACT_CPY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "dbo.salesForceControlProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"Object": {
									"value": {
										"value": "@concat('''', pipeline().parameters.table, '''')",
										"type": "Expression"
									},
									"type": "String"
								},
								"schema": {
									"value": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"lastLoadTime": {
									"value": {
										"value": "@concat('''', pipeline().TriggerTime, '''')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0003"
					},
					"table": {
						"type": "string",
						"defaultValue": "USER"
					},
					"sfObject": {
						"type": "string",
						"defaultValue": "User"
					},
					"query": {
						"type": "string",
						"defaultValue": "SELECT Id, Username, LastName, FirstName, Name, CompanyName, Division, Department, Title, Street, City, State, PostalCode, Country, Latitude, Longitude, GeocodeAccuracy, Email, EmailPreferencesAutoBcc, EmailPreferencesAutoBccStayInTouch, EmailPreferencesStayInTouchReminder, SenderEmail, SenderName, Signature, StayInTouchSubject, StayInTouchSignature, StayInTouchNote, Phone, Fax, MobilePhone, Alias, CommunityNickname, BadgeText, IsActive, TimeZoneSidKey, UserRoleId, LocaleSidKey, ReceivesInfoEmails, ReceivesAdminInfoEmails, EmailEncodingKey, ProfileId, UserType, LanguageLocaleKey, EmployeeNumber, DelegatedApproverId, ManagerId, LastLoginDate, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, OfflineTrialExpirationDate, OfflinePdaTrialExpirationDate, UserPermissionsMarketingUser, UserPermissionsOfflineUser, UserPermissionsAvantgoUser, UserPermissionsCallCenterAutoLogin, UserPermissionsMobileUser, UserPermissionsSFContentUser, UserPermissionsInteractionUser, UserPermissionsSupportUser, ForecastEnabled, UserPreferencesActivityRemindersPopup, UserPreferencesEventRemindersCheckboxDefault, UserPreferencesTaskRemindersCheckboxDefault, UserPreferencesReminderSoundOff, UserPreferencesDisableAllFeedsEmail, UserPreferencesDisableFollowersEmail, UserPreferencesDisableProfilePostEmail, UserPreferencesDisableChangeCommentEmail, UserPreferencesDisableLaterCommentEmail, UserPreferencesDisProfPostCommentEmail, UserPreferencesContentNoEmail, UserPreferencesContentEmailAsAndWhen, UserPreferencesApexPagesDeveloperMode, UserPreferencesHideCSNGetChatterMobileTask, UserPreferencesDisableMentionsPostEmail, UserPreferencesDisMentionsCommentEmail, UserPreferencesHideCSNDesktopTask, UserPreferencesHideChatterOnboardingSplash, UserPreferencesHideSecondChatterOnboardingSplash, UserPreferencesDisCommentAfterLikeEmail, UserPreferencesDisableLikeEmail, UserPreferencesSortFeedByComment, UserPreferencesDisableMessageEmail, UserPreferencesDisableBookmarkEmail, UserPreferencesDisableSharePostEmail, UserPreferencesEnableAutoSubForFeeds, UserPreferencesDisableFileShareNotificationsForApi, UserPreferencesShowTitleToExternalUsers, UserPreferencesShowManagerToExternalUsers, UserPreferencesShowEmailToExternalUsers, UserPreferencesShowWorkPhoneToExternalUsers, UserPreferencesShowMobilePhoneToExternalUsers, UserPreferencesShowFaxToExternalUsers, UserPreferencesShowStreetAddressToExternalUsers, UserPreferencesShowCityToExternalUsers, UserPreferencesShowStateToExternalUsers, UserPreferencesShowPostalCodeToExternalUsers, UserPreferencesShowCountryToExternalUsers, UserPreferencesShowProfilePicToGuestUsers, UserPreferencesShowTitleToGuestUsers, UserPreferencesShowCityToGuestUsers, UserPreferencesShowStateToGuestUsers, UserPreferencesShowPostalCodeToGuestUsers, UserPreferencesShowCountryToGuestUsers, UserPreferencesPipelineViewHideHelpPopover, UserPreferencesHideS1BrowserUI, UserPreferencesDisableEndorsementEmail, UserPreferencesPathAssistantCollapsed, UserPreferencesCacheDiagnostics, UserPreferencesShowEmailToGuestUsers, UserPreferencesShowManagerToGuestUsers, UserPreferencesShowWorkPhoneToGuestUsers, UserPreferencesShowMobilePhoneToGuestUsers, UserPreferencesShowFaxToGuestUsers, UserPreferencesShowStreetAddressToGuestUsers, UserPreferencesLightningExperiencePreferred, UserPreferencesHideEndUserOnboardingAssistantModal, UserPreferencesHideLightningMigrationModal, UserPreferencesHideSfxWelcomeMat, UserPreferencesHideBiggerPhotoCallout, UserPreferencesGlobalNavBarWTShown, UserPreferencesGlobalNavGridMenuWTShown, UserPreferencesCreateLEXAppsWTShown, UserPreferencesFavoritesWTShown, UserPreferencesRecordHomeSectionCollapseWTShown, UserPreferencesRecordHomeReservedWTShown, UserPreferencesFavoritesShowTopFavorites, UserPreferencesExcludeMailAppAttachments, UserPreferencesSuppressTaskSFXReminders, UserPreferencesSuppressEventSFXReminders, UserPreferencesPreviewCustomTheme, UserPreferencesHasCelebrationBadge, UserPreferencesUserDebugModePref, UserPreferencesNewLightningReportRunPageEnabled, ContactId, AccountId, CallCenterId, Extension, FederationIdentifier, AboutMe, FullPhotoUrl, SmallPhotoUrl, IsExtIndicatorVisible, OutOfOfficeMessage, MediumPhotoUrl, DigestFrequency, DefaultGroupNotificationFrequency, LastViewedDate, LastReferencedDate, BannerPhotoUrl, SmallBannerPhotoUrl, MediumBannerPhotoUrl, IsProfilePhotoActive, IndividualId, mkto_si__IsCachingAnonWebActivityList__c, mkto_si__IsCachingBestBets__c, mkto_si__IsCachingEmailActivityList__c, mkto_si__IsCachingGroupedWebActivityList__c, mkto_si__IsCachingInterestingMomentsList__c, mkto_si__IsCachingScoringList__c, mkto_si__IsCachingStreamList__c, mkto_si__IsCachingWatchList__c, mkto_si__IsCachingWebActivityList__c, FY20_Q3_Target__c, Test__c, Q1_ACV_Target__c, Q2_ACV_Target__c, Q3_ACV_Target__c, Q4_ACV_Target__c, Q1_PS_Target__c, Q2_PS_Target__c, Q3_PS_Target__c, Q4_PS_Target__c, Q1_Perpetual_Target__c, Q2_Perpetual_Target__c, Q3_Perpetual_Target__c, Q4_Perpetual_Target__c, Q1_CO_MSU_Target__c, Q2_CO_MSU_Target__c, Q3_CO_MSU_Target__c, Q4_CO_MSU_Target__c, Q1_MSU_Target__c, Q2_MSU_Target__c, Q3_MSU_Target__c, Q4_MSU_Target__c, Q1_New_ACV_Target__c, New_ACV__c, FY18Q1_PS_Target__c, FY18Q1_MSU_Target__c, FY18Q1_CO_MSU_Target__c, FY18Q2_MSU_Target__c, FY18Q2_CO_MSU_Target__c, FY18Q2_New_ACV_Target__c, FY18Q2_Perpetual_Target__c, FY18Q2_PS_Target__c, Q2_New_Business_D_Target__c, Q2_Customer_D_Target__c, Q2_Partner_D_Target__c, Prospecting_Target__c, Q3_New_Business_D_Target__c, Q3_Customer_D_Target__c, Q3_Partner_D_Target__c, Q4_New_Business_D_Target__c, Q4_Customer_D_Target__c, Q4_Partner_D_Target__c, FY19_Q1_New_Business_D_Target__c, FY19_Q1_Customer_D_Target__c, Super_Sales_Managers__c, FY19_Q1_Partner_D_Target__c, FY19Q2_NB_Global_Enterprise_D_Target__c, FY19Q2_ACV_Customer_Target__c, FY19Q3_D_Target__c, FY19Q3_ACV_Customer_Target__c, Target__c, ACV_Target__c, Late_Stage_Target__c, Late_Stage_ACV_Target__c, Early_Stage_Target__c, Early_Stage_ACV_Target__c, FY19Q4_D_Target__c, pi__Can_View_Not_Assigned_Prospects__c, pi__Pardot_Api_Key__c, pi__Pardot_Api_Version__c, pi__Pardot_User_Id__c, pi__Pardot_User_Key__c, pi__Pardot_User_Role__c from User where LastModifiedDate > "
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CPY_SALESFORCE_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_CPY",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "Select Id, Username, LastName, FirstName, Name, Email from User",
									"type": "Expression"
								},
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SALESFORCE_METRICSTREAM",
								"type": "DatasetReference",
								"parameters": {
									"objectName": "User"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLDB",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"table": {
										"value": "STG_@{pipeline().parameters.table}",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "C0001"
					},
					"table": {
						"type": "string",
						"defaultValue": "USER_TEMP_DO_NOT_REFER"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_account')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_account_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:40:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_opp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_opp_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:51:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_opp_field_history')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_opp_field_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:52:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_opp_history')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_opp_history_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:52:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_role')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_role_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:51:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleo_extract_stg_user')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CPY_SALESFORCE_CLEO_V2",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_schema')]",
							"table": "[parameters('cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_table')]",
							"sfObject": "[parameters('cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_sfObject')]",
							"query": "[parameters('cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_query')]",
							"column": "[parameters('cleo_extract_stg_user_properties_PL_CPY_SALESFORCE_CLEO_V2_parameters_column')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-26T18:50:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CPY_SALESFORCE_CLEO_V2')]"
			]
		}
	]
}